.App-link {
  color: #61dafb;
}

/* Header */

.body {
  color: #5a5a5a;
}

.restaurant-name:hover {
  color: #c83a3a;
}

.small-link:hover {
  color: #c83a3a;
}
.small-link-active {
  color: #fcfcfc;
  background: #c83a3a;
}
.small-link-active:hover {
  color: #fff;
}

.cart:hover {
  color: #c83a3a;
  text-decoration: none;
}
.userName {
  font-weight: 500;
}

.logout-div > a {
  color: #000;
}

.logout-button:hover {
  cursor: pointer;
  color: #c83a3a;
}
.nav-div {
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  position: absolute;
  height: 54px;
}
.header {
  margin: 0 auto;

  background: #efefef;
  border-bottom: 1px solid #ff5200;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  z-index: 98;
  justify-content: space-between;
}

.header > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  margin: 15px 0;
}
.nav-link {
  padding: 15px;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
@media (min-width: 320px) {
  main {
    width: 100%;
  }
  .nav-div {
    margin: 0;
  }
  .header {
    width: 45%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .nav-link {
    padding: 2px 15px;
    font-size: 12px;
  }
  .restaurant-name {
    font-size: 14px;
    line-height: 16px;
  }
  .header > ul {
    text-align: center;
    margin: 0;
    flex-direction: column;
  }
  .price-div {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-href {
    font-size: 14px;
    padding: 0;
  }
  .userName {
    padding: 0;
    font-size: 14px;
  }
  .logout-div {
    padding: 0;
  }
  .logout-button {
    font-weight: 600;
    padding: 2px 4px;
  }
}
@media (min-width: 768px) {
  .header {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .nav-link {
    padding: 2px 15px;
    font-size: 14px;
  }
  .restaurant-name {
    font-size: 16px;
    line-height: 16px;
  }

  .price-href {
    font-size: 16px;
    padding: 0;
  }
  .userName {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .nav-div {
    margin-top: 25px;
  }
  .header {
    margin: 0 auto;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .header > ul {
    flex-direction: row;
    margin: 15px 0;
  }
  .nav-link {
    padding: 15px;
    font-size: 13px;
  }
  .restaurant-name {
    color: #999999;
    font-size: 18px;
    line-height: 20px;
  }
  .price-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .price-href {
    padding: 15px;
  }
  .logout-div {
    text-align: center;
    padding-right: 10px;
  }
  .logout-button {
    font-weight: 600;
    padding: 4px 8px;
  }
}
@media (min-width: 1440px) {
  .header {
    width: 85vw;
  }
  .nav-link {
    padding: 15px;
    font-size: 15px;
  }
}
