.menu-container {
  width: 1170px;
  margin: 0 auto 0 auto;
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
}
.menu-title-container {
  margin: 150px auto 0 auto;
  background: #efefef;
  width: 100%;
  display: flex;
}
.menu-meals {
  margin-top: 100px;
}
.meals-expand {
  width: 100%;
  background-color: #efefef;
  padding-left: 10px;
}
.meals-expand > h2 {
  margin: 10px;
}
.meals-expand:hover {
  cursor: pointer;
}

.single-item {
  display: flex;
  justify-content: space-between;
}
.meal-description {
  text-align: left;
}
.meal-description-div {
  padding-left: 20px;
}
.meal-price-h4 {
  text-align: center;
}
.drinks {
  margin-top: 100px;
}
.desserts {
  margin: 100px auto;
}

.cart {
  color: #5a5a5a;
}

.desc-single-ingredient:not(:first-of-type) {
  margin-left: 10px;
}
/* Modal Body */

.modal-body {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
}
.choose-ingredients {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.meal-modal-name {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}
.single-ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.item-count {
  padding: 0 10px;
  font-size: 18px;
}
.item-name {
  font-size: 24px;
  text-transform: capitalize;
}

.modal-price-div {
  margin: 30px auto;
}
.submit-div {
  display: flex;
  justify-content: center;
}
.openModal,
.ingredient-button,
.add-button {
  padding: 6px 12px;
  transition: all 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
}
.openModal:hover,
.ingredient-button:hover,
.add-button:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}

@media (max-width: 813px) {
  .menu-container {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .single-item > div {
    text-align: left;
  }
  .single-item > div > span {
    font-size: 13px;
  }
  .meal-description-div {
    padding: 0;
  }
}
