.register-container{
  width:1170px;
  margin:80px auto 0 auto;
}
.register-div{
  background-color:#efefef;
margin:0 auto;
}
.register-div>form{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}
.register-div>form>label{
  margin:10px 0 5px 0;
}
.register-div>form>input{
  width:20%;
  padding:3px;
}
.register-div>form>button{
  width:20.7%;
  margin-top:20px;
  padding:4px;
  font-weight: 600;
}
.register-div>form>button:hover, .show-password:hover{
  cursor:pointer;
  color:#c83a3a;
}
.show-password{
  margin-top:5px;
}
.error-div{
  margin:0 auto;

}
.error-div>h3{
  font-weight:500;
  padding:10px 0;
  text-align:center
}
