.name-container{
  width:100%;
  margin:0 auto;
  border-top: 1px solid #FF5200;
  box-shadow: 0 0 24px #D5D5D5;
}
.name{
  width:1170px;
  margin:0 auto;
  color:#0C0C0C;
  padding-bottom:15px;
  text-align: center;
}
.name>h1{
  font-weight:500;
  margin-bottom:10px;
}


/* Second Panel */

.meals-container{
  width:1170px;
  height:100%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  padding-bottom:50px;
}
.meal{
  width:400px;
  padding:20px;
  display:flex;
  flex-direction: column;
  color:#5A5A5A;
  align-items:center;
}
.first-meal,.third-meal{
  margin-top:30px;
}
.second-meal{
  margin-top:100px;
}
.meal>img{
  max-width:100%;
  border-radius:50%;
}
.meal>button{
  width:40%;
  align-self:center;
  padding:6px 2px;
  color:#fff;
  background:#7DB641;
  border-color:#7DB641;
}

.delivery{
  color:#5A5A5A;
  background:#efefef;
}
.delivery>h1{
  text-align:center;
  padding:30px 0;
}

/* Breakfast Slider */

.breakfast-container{
  color:#5A5A5A;
  width:1170px;
  margin:0 auto ;
  position:relative;
}
.breakfast-title{
  width:1170px;
  font-weight:500;
  margin-bottom:15px;
  border-bottom:1px solid #efefef;
  display:flex;
  justify-content: center;

}
.breakfast-slider{
  display:flex;
  padding-bottom:50px;
  position:relative;

}
.slider>img{
  width: 370px;
  max-width:100%;
  height:275px;
  max-height:275px;

}
.slider{
  padding:0 10px;
  width:400px;
  width:370px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.slider>span{
  margin-top:5px;
}
.slider>button{
  width:40%;
  align-self: center;
  margin-top:5px;
  padding:6px 2px;
  color:#fff;
  background:#7DB641;
  border-color:#7DB641;
}
.back,.forward{
  height:60px;
  align-self: center;
  top:100px;
  position:absolute;
}
.back{
  left:30px;
}
.forward{
  right:30px;
}

/* slider animations */
.breakfast-enter{
  opacity:0;
}

.breakfast-enter.breakfast-enter-active {
  opacity:1;
  transition:opacity 800ms ease-in;
}

.breakfast-leave{
  opacity:1;
}

.breakfast-leave.breakfast-leave-active {
  position:absolute;
  opacity:0;
  top:88px;
  left:0;
  right:0;
  transition:opacity 500ms ease-in;
}


.lunch-container{
  color:#5A5A5A;
  width:1170px;
  position:relative;
}

.lunch-enter{
  opacity:0;
}

.lunch-enter.lunch-enter-active {
  opacity:1;
  transition:opacity 800ms ease-in;
}

.lunch-leave{
  opacity:1;
}

.lunch-leave.lunch-leave-active {
  position:absolute;
  opacity:0;
  top:88px;
  left:0;
  right:0;
  transition:opacity 500ms ease-in;
}
.dinner-enter{
  opacity:0;
}

.dinner-enter.dinner-enter-active {
  opacity:1;
  transition:opacity 800ms ease-in;
}

.dinner-leave{
  opacity:1;
}

.dinner-leave.dinner-leave-active {
  position:absolute;
  opacity:0;
  top:88px;
  left:0;
  right:0;
  transition:opacity 500ms ease-in;
}
/*  boxes */
.boxes{
  width:1170px;
  margin: auto;
  display:flex;
  justify-content: center;


}
.box{
  background-color: #efefef;
  color:#939393;
  text-align:center;
  width:360px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:20px;
}
.box2,.box3{
  margin-left: 38px;
}
.box>img{
  padding:10px 0;
  width:228px;
  max-width:100%;
  height:143px;
}

/* Welcome to restaurant */

.welcome{
  margin-top:50px;
  background: #efefef;

}
.welcome-container{
  width:1170px;
  display:flex;
  justify-content: space-between;
  margin:0 auto;
  padding-bottom:40px;
  color:#5a5a5a
}
.welcome-container>div{
  width:360px;
}
.welcome-container>div>h3{
  text-align: left;
}
.welcome-container>div>span{
  display:block;
  text-align: left;
}

/* Marketing Slider */
.breakfast-transition{
  position:relative;
}
.marketing-slider{
  width:1170px;
  display:flex;
  margin:50px auto 0 auto;
  padding-bottom:50px;
}

.marketing-slider>img{
  width:470px;
  max-width:100%;
  height:352px;
}

.marketing-description{
  text-align:left;
  margin: 50px 0 0 100px;
}
.marketing-description>h2{
  font-size:50px;
  font-weight:500;
}

.marketing-enter{
  opacity:0;
}

.marketing-enter.marketing-enter-active {
  opacity:1;
  transition:opacity 800ms ease-in;
}

.marketing-leave{
  opacity:1;
}

.marketing-leave.marketing-leave-active {
  position:absolute;
  opacity:0;
  top:-50px;
  left:0;
  right:0;
  transition:opacity 500ms ease-in;
}
