.name-container {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ff5200;
  box-shadow: 0 0 24px #d5d5d5;
}
.name {
  width: 80vw;
  margin: 0 auto;
  color: #0c0c0c;
  padding-bottom: 15px;
  text-align: center;
}
.name > h1 {
  font-weight: 500;
  margin-bottom: 10px;
}

/* Second Panel */

.meals-container {
  width: 80vw;
  height: 100%;
}
.meal {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #5a5a5a;
  align-items: center;
}

.meal > img {
  max-width: 100%;
  border-radius: 50%;
}
.meal > button {
  width: 40%;
  align-self: center;
  padding: 6px 2px;
  color: #fff;
  background: #7db641;
  border-color: #7db641;
}

.delivery {
  color: #5a5a5a;
  background: #efefef;
}
.delivery > div {
  padding: 30px 0;
  text-align: center;
}
.delivery > div > span {
  font-size: 24px;
  font-weight: 500;
}

/* Breakfast Slider */

.breakfast-container {
  color: #5a5a5a;
  width: 80vw;
  margin: 0 auto;
}
.breakfast-title {
  width: 80vw;
  font-weight: 500;
  margin-bottom: 15px;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: center;
}
.breakfast-slider {
  display: flex;
}
.slider {
}
.slider a.previousButton,
.slider a.nextButton {
  opacity: 0.4;
  transition: opacity 0.5s;
}
.slider a.previousButton:hover,
.slider a.nextButton:hover {
  opacity: 1;
}
.sliders > img {
  width: 370px;
  max-width: 100%;
  height: auto;
}
.sliders {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-menu-a {
  width: 40%;
  align-self: center;
  margin-top: 5px;
  padding: 6px 2px;
  color: #fff;
  background: #7db641;
  border-color: #7db641;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
.see-menu-a:hover {
  cursor: pointer;
  background: #c83a3a;
}

.lunch-container {
  color: #5a5a5a;
  width: 80vw;
  position: relative;
}

/*  boxes */
.boxes {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}
.box {
  background-color: #efefef;
  color: #939393;
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.box2,
.box3 {
  margin-left: 38px;
}
.box-img {
  padding: 10px 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Welcome to restaurant */

.welcome {
  width: 80vw;
  margin: 0 auto;
  margin-top: 50px;
  background: #efefef;
}
.welcome-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #5a5a5a;
}
.welcome-container > div {
  width: auto;
}
.welcome-container > div > h3 {
  text-align: left;
}
.welcome-container > div > span {
  display: block;
  text-align: left;
}

/* Marketing Slider */
.marketing-container {
  color: #5a5a5a;
  width: 80vw;
  margin: 0 auto;
}

.marketing-slider {
  display: flex;
}

.marketing-slider-img {
  width: 90vw;
  max-width: 470px;
  height: auto;
}

.marketing-slide-name {
  font-weight: 500;
}
.marketing-slide-name-div {
  padding: 20px;
}

@media (min-width: 320px) {
  .marketing-container,
  .meals-container,
  .lunch-container,
  .breakfast-container,
  .boxes,
  .breakfast-title,
  .welcome-container,
  .welcome,
  .marketing-slider,
  .name {
    width: 100%;
  }
  .meals-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .meal {
    width: 300px;
    margin: 25px auto 0 auto;
    padding: 0;
  }
  .third-meal {
    margin-bottom: 20px;
  }
  .see-menu-a {
    width: 80%;
    padding: 5px 8px;
  }

  .lunch-container > .slider {
    height: 190px;
  }
  .box2,
  .box3 {
    margin-left: 10px;
  }
  .welcome-container {
    flex-direction: column;
  }
  .welcome-container > div {
    padding: 0;
    margin-top: 20px;
  }

  .marketing-container {
    width: 100%;
    height: 350px;
  }
  .marketing-slider {
    margin: 20px 0 0 0;
    width: 100%;
    flex-direction: column;
  }
  .marketing-slider-img {
    width: 100%;
  }
  .marketing-description {
    font-size: 13px;
    margin: 0;
    text-align: center;
  }
  .marketing-slide-name-div {
    margin: 0;
    padding: 0;
  }

  .marketing-slide-name {
    font-size: 24px;
  }
  .marketing-slide-description-div {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .marketing-container,
  .meals-container,
  .lunch-container,
  .breakfast-container,
  .boxes,
  .breakfast-title,
  .welcome-container,
  .marketing-slider,
  .name {
    width: 80vw;
  }
  .lunch-container > .slider {
    height: 260px;
  }
  .welcome-container {
    flex-direction: row;
  }
  .marketing-slide-name {
    font-size: 42px;
  }
  .marketing-slide-description-div {
    margin-bottom: 50px;
  }
  .marketing-slider {
    margin: 50px auto 0 auto;
    flex-direction: row;
  }
  .marketing-description {
    font-size: 16px;
    text-align: left;
    margin: 10px 0 0 30px;
  }
}
@media (min-width: 1024px) {
  .meals-container {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  .third-meal {
    margin: 0;
  }
  .lunch-container > .slider {
    height: 350px;
  }
  .meal {
    margin: 0;
  }
  .first-meal,
  .third-meal {
    margin-top: 30px;
  }
  .second-meal {
    margin-top: 100px;
  }
}
@media (min-width: 1440px) {
  .lunch-container > .slider {
    height: 400px;
  }
  .marketing-slide-name {
    font-size: 50px;
  }
  .marketing-description {
    margin: 50px 0 0 70px;
  }
}
