.itemsAdding > form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 20%;
  left: 40%;
  right: 40%;
  top: 30%;
}
.itemsAdding > form > * {
  padding: 5px 0;
}
.itemsAdding > form > button {
  margin-top: 20px;
}
#ingredients {
  display: flex;
  flex-direction: column;
}
