.footer-container{
  max-width:100%;
  background:#000;
  color:#fff;
  position:absolute;
  padding: 10px;
  right:0;
  bottom:0;
  left:0;
}
.footer{
  width:1170px;
  display:flex;
  margin:0 auto;
  padding-top:20px;
  justify-content: space-between;

}
.company>a, .top>a{
  color:#fff;
  text-decoration: none;
}
.company>*:not(:first-child){
  margin-left:10px;
}
.company>a:hover, .top>a:hover{
  text-decoration:underline;
  cursor:pointer;
}
.back-top:hover{
  cursor:pointer;
  text-decoration: underline;
}
