.items-container{
  width:1170px;
  display:flex;
  flex-direction: column;
  margin:50px auto 0 auto;
}
.single-cart-item{
  background: #efefef;
  display:flex;
  justify-content: space-between;
  margin-bottom:5px;
}
.single-cart-item>:first-child{
  padding:10px;
}

.price-count-container{
  padding:10px 0 ;
  display:grid;
  grid-template-columns: 85px 85px 85px;
}
.price-div{
padding-right:20px;
}
.count-div{
  padding-left:5px;
}
.count-div>*{
  padding:0 5px;
}
.price{
  display:flex;
  justify-content: flex-end;
  padding:10px;
}
@media (max-width:1130px){
  .items-container{
    width:100%;
  }
}
