.items-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
}
.single-cart-item {
  background: #efefef;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.single-cart-item > :first-child {
  padding: 10px;
}

.price-count-container {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 85px 85px 85px;
  justify-items: center;
  align-content: center;
}
.price-count-container > * > button {
  padding: 6px 12px;
  transition: all 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
}
.price-count-container > * > button:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}

.count-div {
  padding-left: 5px;
}
.count-div > * {
  padding: 0 5px;
}
.price {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.count-user-div {
  display: flex;
}
.single-user-form > * {
  padding: 0 5px;
}
.item-with-desc {
  display: flex;
  flex-direction: column;
}
.item-name {
  font-size: 18px;
  font-weight: 600;
}
.item-desc {
  padding-left: 10px;
  text-transform: capitalize;
}

@media (min-width: 320px) {
  .items-container {
    width: 100%;
  }
  .price-count-container {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .price-cart-div {
    padding-top: 8px;
    margin-left: 10px;
  }
  .remove-div {
    padding-top: 10px;
  }
}
@media (min-width: 1024px) {
  .items-container {
    width: 80vw;
  }
  .price-count-container {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 85px 85px 85px;
    justify-items: center;
    align-content: center;
  }
  .price-cart-div {
    padding: 0;
    margin: 0;
  }
  .remove-div {
    padding: 0;
  }
}
