.name-container{
  width:100%;
  margin:0 auto;
  border-top: 1px solid #FF5200;
  box-shadow: 0 0 24px #D5D5D5;
}
.name{
  width:1170px;
  margin:0 auto;
  color:#0C0C0C;
  padding-bottom:15px;
  text-align: center;
}
.name>h1{
  font-weight:500;
  margin-bottom:10px;
}


/* Second Panel */

.meals-container{
  width:1170px;
  height:100%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  padding-bottom:50px;
}
.meal{
  width:400px;
  padding:20px;
  display:flex;
  flex-direction: column;
  color:#5A5A5A;
  align-items:center;
}
.first-meal,.third-meal{
  margin-top:30px;
}
.second-meal{
  margin-top:100px;
}
.meal>img{
  max-width:100%;
  border-radius:50%;
}
.meal>button{
  width:40%;
  align-self:center;
  padding:6px 2px;
  color:#fff;
  background:#7DB641;
  border-color:#7DB641;
}

.delivery{
  color:#5A5A5A;
  background:#efefef;
}
.delivery>h1{
  text-align:center;
  padding:30px 0;
}

/* Breakfast Slider */

.breakfast-container{
  color:#5A5A5A;
  width:1170px;
  margin:0 auto ;
}
.breakfast-title{
  width:1170px;
  font-weight:500;
  margin-bottom:15px;
  border-bottom:1px solid #efefef;
  display:flex;
  justify-content: center;

}
.breakfast-slider{
  display:flex;
}
.sliders>img{
  width: 370px;
  max-width:100%;
  height:275px;
  max-height:275px;

}
.sliders{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.see-menu-a{
  width:40%;
  align-self: center;
  margin-top:5px;
  padding:6px 2px;
  color:#fff;
  background:#7DB641;
  border-color:#7DB641;
  font-size:14px;
  text-align:center;
  text-decoration: none;
}
.see-menu-a:hover{
    background: #c83a3a;
}


.lunch-container{
  color:#5A5A5A;
  width:1170px;
  position:relative;
}

/*  boxes */
.boxes{
  width:1170px;
  margin: auto;
  display:flex;
  justify-content: center;


}
.box{
  background-color: #efefef;
  color:#939393;
  text-align:center;
  width:360px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:20px;
}
.box2,.box3{
  margin-left: 38px;
}
.box-img{
  padding:10px 0;
  width:228px;
  max-width:100%;
  height:143px;
}

/* Welcome to restaurant */

.welcome{
  margin-top:50px;
  background: #efefef;

}
.welcome-container{
  width:1170px;
  display:flex;
  justify-content: space-between;
  margin:0 auto;
  padding-bottom:40px;
  color:#5a5a5a
}
.welcome-container>div{
  width:360px;
}
.welcome-container>div>h3{
  text-align: left;
}
.welcome-container>div>span{
  display:block;
  text-align: left;
}

/* Marketing Slider */
.marketing-container{
  color:#5A5A5A;
  width:1170px;
  margin:0 auto ;
  padding-bottom:50px;
}

.marketing-slider{
  width:1170px;
  display:flex;
  margin:50px auto 0 auto;

}

.marketing-slider-img{
  width:470px;
  max-width:100%;
  height:352px;
}

.marketing-description{
  text-align:left;
  margin: 50px 0 0 100px;
}
.marketing-description>h2{
  font-size:50px;
  font-weight:500;
}
