.contact-container{
  margin-top:50px;
  margin-bottom:50px;
}
.contact-form{
  display:flex;
  flex-direction:column;
  text-align:center;
  margin:0 auto;
}

.contact-form>*{
  padding:5px 20px;
  text-align: center;
}
.contact-submit{
  margin-top:20px;
}
