.register-container {
  width: 80vw;
  margin: 80px auto 0 auto;
}
.register-div {
  background-color: #efefef;
  margin: 0 auto;
}
.register-div > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.register-div > form > label {
  margin: 10px 0 5px 0;
}
.register-div > form > input {
  width: 20%;
  padding: 3px;
}
#email,
#password {
  border: none;
}
.register-div > form > button {
  width: 20.7%;
  margin-top: 20px;
  padding: 6px 12px;
  transition: all 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  background: #fff;
}
.register-div > form > button:hover,
.show-password:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}
.show-password {
  margin-top: 10px;
  padding: 6px 12px;
  transition: all 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  background: #fff;
}
.error-div {
  margin: 0 auto;
}
.error-div > h3 {
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 800px) {
  .register-container {
    margin-top: 20px;
  }
}
@media (min-width: 801px) and (max-width: 1600px) {
  .register-container {
    margin-top: 40px;
  }
}
@media (max-width: 813px) {
  .register-container {
    width: 100%;
    margin: 0;
  }
  .register-div > form > input {
    width: 50%;
  }
  .register-div > form > button {
    width: 50%;
  }
}
