.register-container{
  width:1170px;
  margin:100px auto 0 auto;
}
.register-div{
  background-color:#efefef;
margin:0 auto;
}
.register-div>form{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}
.register-div>form>label{
  margin:10px 0 5px 0;
}
.register-div>form>input{
  width:20%;
  padding:3px;
}
.register-div>form>button{
  width:20.7%;
  margin-top:20px;
  padding:4px;
}
